 <!-- SLIDER -->


<section id="slider" class="no-padding">
    <div id="slider-carousel" class="boxed-slider">
        @foreach (var item in ViewBag.Slides)
        {



            <div style="background-image:url('/Uploads/@item.Photo" class="owl-bg-img">

                <div class="container-fullscreen">
                    <div class="text-middle">
                        <a style="display:block;width:100%;height:100%;" href="@item.Url">&nbsp;</a>
                           
                        </div>
                    </div>
                </div>
            
        }
     

    </div>
</section>
<!-- END: SLIDER -->
<!-- SUMMER SALE -->
<!-- END: SUMMER SALE -->
<!-- SHOP PRODUCTS -->
<section>
    <div class="container">

        <div class="heading m-b-40">
            <h4>Öne Çıkan Ürünler</h4>
        </div>

        <!--Product list-->

        <div class="shop">
            <div class="row">
                @foreach (var item in ViewBag.FeaturedProducts)
                {


                    <div class="col-md-3">

                        <div class="product">
                            <div class="product-image">
                                <a href="#">
                                    <img alt="Shop product image!" src="~/Uploads/@item.Photo">
                                </a>


                                <span class="product-new">NEW</span>
                                <span class="product-wishlist">
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                </span>
                                <div class="product-overlay">
                                    <a href="/include/ajax/example-shop-product.html" data-lightbox-type="ajax">Quick View</a>
                                </div>
                            </div>

                            <div class="product-description">
                                <div class="product-category">@item.Category.Name</div>
                                <div class="product-title">
                                    <h3><a href="#">@item.Name</a></h3>
                                </div>
                                <div class="product-price">
                                    <ins>₺@string.Format("{0:0,000.00}",item.Price)</ins>
                                </div>


                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            
                <div class="col-md-12">
                    <div class="hr-title hr-long center">
                        <abbr>Browser our categories </abbr>
                    </div>
                </div>
            </div>
        <div class="shop-category">
            <div class="row">
                @foreach (var item in ViewBag.BrowseCategories)
                {
                    <div class="col-md-3">
                        <div class="shop-category-box">
                            <a href="@Url.Action("Index","Products",new { categoryId = item.Id })">
                                <img alt="" src="~/Uploads/@item.Photo">
                                <div class="shop-category-box-title text-center">
                                <h6>@item.Name</h6>    <small>@item.PublishedProducts.Count ürün</small>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>               
        </div>
    </div>
</section>
<!-- END: SHOP PRODUCTS -->
<!-- DELIVERY INFO -->
<!-- END: DELIVERY INFO -->
<!-- SHOP WIDGET PRODUTCS -->
<!-- END: SHOP WIDGET PRODUTCS -->
<!-- END: SHOP CATEGORIES -->
<!-- END: SHOP CATEGORIES -->