@model Order
@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

<!-- PAGE TITLE -->
<section id="page-title" class="page-title-parallax page-title-center text-dark" style="background-image:url(images/parallax/page-title-parallax.jpg);">
    <div class="container">
        <div class="page-title col-md-8">
            <h1>Checkout</h1>
            <span>Checkout details</span>
        </div>
        <div class="breadcrumb col-md-4">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-home"></i></a>
                </li>
                <li>
                    <a href="#">Anasayfa</a>
                </li>
                <li>
                    <a href="#">Alışveriş</a>
                </li>
                <li class="active">
                    <a href="#">Kasa</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END: PAGE TITLE -->
<!-- SHOP CHECKOUT -->
<form method="post" class="sep-top-md">
    <input asp-for="CartId" type="hidden" />
    <input asp-for="CustomerId" type="hidden" />
    <section id="shop-checkout">
        <div class="container">
            <div class="shop-cart">

                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            <h4 class="upper">Fatura & Kargo Adresi</h4>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Ülke</label>
                            <select asp-for="Customer.BillingCountry" class="fullwidth" asp-items="ViewBag.BillingCountries" onchange="BillingCountryChange(this)">
                                <option value="">Ülke Seçiniz</option>

                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Ad</label>
                            <input asp-for="Customer.BillingFirstName" type="text" class="form-control input-lg" placeholder="Ad">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Soyad</label>
                            <input asp-for="Customer.BillingLastName" type="text" class="form-control input-lg" placeholder="Soyad">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">TC Kimlik No/Vergi No</label>
                            <input asp-for="Customer.BillingIdentityNumber" type="text" class="form-control input-lg" placeholder="TC Kimlik No/Vergi No">
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Firma Adı</label>
                            <input asp-for="Customer.BillingCompanyName" type="text" class="form-control input-lg" placeholder="Firma Adı">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Şehir</label>
                            <select asp-for="Customer.BillingCity" class="form-control input-lg" placeholder="Şehir" onchange="BillingCityChange(this)">
                                <option value="">Şehir Seçiniz</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">İlçe</label>
                            <select asp-for="Customer.BillingCounty" class="form-control input-lg" placeholder="İlçe">
                                <option value=""> İlçe Seçiniz</option>

                            </select>

                        </div>

                        <div class="col-md-6 form-group">
                            <label class="sr-only">Mahalle/Semt</label>
                            <input asp-for="Customer.BillingDistrict" type="text" class="form-control input-lg" placeholder="Mahalle Semt">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Cadde/Sokak</label>
                            <input asp-for="Customer.BillingStreet" type="text" class="form-control input-lg" placeholder="Cadde/Sokak">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Apartman,suit,kapı no, vb.</label>
                            <input asp-for="Customer.BillingAdress" type="text" class="form-control input-lg" placeholder="Apartman,suit,kapı no, vb.">
                        </div>


                        <div class="col-md-6 form-group">
                            <label class="sr-only">Posta Kodu</label>
                            <input asp-for="Customer.BillingZipCode" type="text" class="form-control input-lg" placeholder="Posta Kodu">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">E-Posta</label>
                            <input asp-for="Customer.BillingEmail" type="text" class="form-control input-lg" placeholder="E-Posta">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Telefon</label>
                            <input asp-for="Customer.BillingPhone" type="text" class="form-control input-lg" placeholder="Telefon">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h4 class="upper"><a href="#collapseFour" data-toggle="collapse" class="collapsed" aria-expanded="false"> Başka Adrese Kargola <i class="fa fa-arrow-circle-o-down"></i></a></h4>
                        <div class="col-md-12 no-padding">
                            <div style="height: 0px;" aria-expanded="false" id="collapseFour" class="panel-collapse row collapse">
                                <div class="panel-body">

                                    <div class="sep-top-xs">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label class="sr-only">Ülke</label>
                                                <select asp-for="Customer.ShippingCountry" class="fullwidth" onchange="ShippingCountryChange(this)" asp-items="ViewBag.ShippingCountries">
                                                    <option value="">Ülke Seçiniz</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Ad</label>
                                                <input asp-for="Customer.ShippingFirstName" type="text" class="form-control input-lg" placeholder="Ad">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Soyad</label>
                                                <input asp-for="Customer.ShippingLastName" type="text" class="form-control input-lg" placeholder="Soyad">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">TC Kimlik No/Vergi No</label>
                                                <input asp-for="Customer.ShippingIdentityNumber" type="text" class="form-control input-lg" placeholder="TC Kimlik No/Vergi No">
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="sr-only">Firma Adı</label>
                                                <input asp-for="Customer.ShippingCompanyName" type="text" class="form-control input-lg" placeholder="Firma Adı">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Şehir</label>
                                                <select asp-for="Customer.ShippingCity" type="text" class="form-control input-lg" placeholder="Şehir" onchange="ShippingCityChange(this)">
                                                    <option value="">Şehir Seçiniz</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">İlçe</label>
                                                <select asp-for="Customer.ShippingCounty" type="text" class="form-control input-lg" placeholder="İlçe">
                                                    <option value="">İlçe Seçiniz</option>

                                                </select>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Mahalle/Semt</label>
                                                <input asp-for="Customer.ShippingDistrict" type="text" class="form-control input-lg" placeholder="Mahalle/Semt">
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Cadde/Sokak</label>
                                                <input asp-for="Customer.ShippingStreet" type="text" class="form-control input-lg" placeholder="Cadde/Sokak">
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Apartman,suit,kapı no, vb</label>
                                                <input asp-for="Customer.ShippingAdress" type="text" class="form-control input-lg" placeholder="Apartman,suit,kapı no, vb">
                                            </div>


                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Posta Kodu</label>
                                                <input asp-for="Customer.ShippingZipCode" type="text" class="form-control input-lg" placeholder="Posta Kodu">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">E-Posta</label>
                                                <input asp-for="Customer.ShippingEmail" type="text" class="form-control input-lg" placeholder="E-Posta">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Telefon</label>
                                                <input asp-for="Customer.ShippingPhone" type="text" class="form-control input-lg" placeholder="Telefon">
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <textarea asp-for="ShippingNotes" class="form-control input-lg" placeholder="Teslimat ve Sipariş Notları" rows="7"></textarea>
                        </div>
                    </div>
                </div>




                <div class="seperator">
                    <i class="fa fa-credit-card"></i>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <h4 class="upper">Siparişleriniz</h4>
                        <div class="table table-condensed table-striped table-responsive table table-bordered table-responsive">
                            <table class="table m-b-0">
                                <thead>
                                    <tr>

                                        <th class="cart-product-thumbnail">Ürün</th>
                                        <th class="cart-product-name">Açıklama</th>


                                        <th class="cart-product-subtotal">Toplam</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Cart.CartItems)
                                    {


                                        <tr>


                                            <td class="cart-product-thumbnail">

                                                <div class="cart-product-thumbnail-name">@item.Product.Name</div>
                                            </td>

                                            <td class="cart-product-description">

                                                <p>
                                                    @item.Product.Description
                                                    <span>(@item.Quantity Adet)</span>
                                                </p>
                                            </td>





                                            <td class="cart-product-subtotal">
                                                <span class="amount">@item.TotalPrice</span>
                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <h4>Sipariş Toplam</h4>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Sipariş Alt Toplam</strong>
                                        </td>

                                        <td class="cart-product-name text-right">
                                            <span class="amount">₺@string.Format("{0:#,###.##}", Model.Cart.TotalPrice)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Kargo</strong>
                                        </td>

                                        <td class="cart-product-name  text-right">
                                            <span class="amount">Ücretsiz Kargo</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>KDV</strong>
                                        </td>
                                        <td class="cart-product-name  text-right">
                                            <span class="amount">₺@string.Format("{0:#,###.##}", Model.Cart.TotalPrice * 0.18M)</span>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Toplam(KDV Dahil)</strong>
                                        </td>

                                        <td class="cart-product-name text-right">
                                            <span class="amount color lead"><strong>₺@string.Format("{0:#,###.##}", Model.Cart.TotalPrice * 1.18M)</strong></span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="upper">Ödeme Yöntemi</h4>

                        <table class="payment-method table table-bordered table-condensed table-responsive">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="paymentMethod" value="" onclick="$('#bankTransfer').show('fast');"><b class="dark">Havale/EFT</b>
                                                <br>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="paymentMethod" value="" onclick="$('#bankTransfer').hide('fast');"><b class="dark">Kredi Kartı</b>
                                            </label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <button type="submit" class="button color button-3d rounded icon-left float-right" style="color:black !important" >Ödemeyi Yap ve Siparişi Tamamla</button>
                    </div>
                    <div class="col-md-6">
                        <div id="bankTransfer" style="display:none">

                            <h4>Havale/EFT Ödemesi Hesap Numaralarımız</h4>
                            <p>
                                <strong>Garanti Bankası</strong>
                                TR6000 2000 3000 4000 5000
                            </p>
                            <p>Havale/EFT İşleminde Açıklama Bilgisi Olarak @string.Format("{0:000000}", Model.Id) sipariş numarasını yazınız.</p>

                        </div>


                    </div>

                </div>



            </div>
        </div>
    </section>
</form>
<!-- END: SHOP CHECKOUT -->
<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>Free shipping on orders $60+</h3>
                    <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plane"></i></a>
                    </div>
                    <h3>Worldwide delivery</h3>
                    <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-history"></i></a>
                    </div>
                    <h3>60 days money back guranty!</h3>
                    <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: DELIVERY INFO -->
@section scripts{ 

    <script>
        function BillingCountryChange(elm)
        {
            //$get metodu jquery'nin ajax  metodudur,sayfa yenilenmeden veri getirmeyi sağlar
            //bu metod ile shop/GetCities actionunu çağırdık
            //parametre olarak countryId'yi verdik(seçili ülke değerini)
            //$.get metodundan sonuç döndüğünde gelen şehirler JSON formatında gelecektir.
            $.get('@Url.Action("GetCities","Shop")', { countryCode: $(elm).val() }, function (data) {
                var $select = $("#Customer_BillingCity");
                $select.empty();
                $select.append('<option value="">Şehir Seçiniz</option>');
                $.each(data, function (key, value) {
                    $select.append('<option value="' +value.code + '">' + value.name + '</option>');

                });
               
            });

        }
            function BillingCityChange(elm)
        {
            //$get metodu jquery'nin ajax  metodudur,sayfa yenilenmeden veri getirmeyi sağlar
            //bu metod ile shop/GetCities actionunu çağırdık
            //parametre olarak countryId'yi verdik(seçili ülke değerini)
            //$.get metodundan sonuç döndüğünde gelen şehirler JSON formatında gelecektir.
            $.get('@Url.Action("GetCounties","Shop")', { cityCode: $(elm).val() }, function (data) {
                var $select = $("#Customer_BillingCounty");
                $select.empty();
                $select.append('<option value="">İlçe Seçiniz</option>');
                $.each(data, function (key, value) {
                    $select.append('<option value="' +value.code + '">' + value.name + '</option>');

                });
               
            });

        }
          function ShippingCountryChange(elm)
        {
            //$get metodu jquery'nin ajax  metodudur,sayfa yenilenmeden veri getirmeyi sağlar
            //bu metod ile shop/GetCities actionunu çağırdık
            //parametre olarak countryId'yi verdik(seçili ülke değerini)
            //$.get metodundan sonuç döndüğünde gelen şehirler JSON formatında gelecektir.
            $.get('@Url.Action("GetCities","Shop")', { countryCode: $(elm).val() }, function (data) {
                var $select = $("#Customer_ShippingCity");
                $select.empty();
                $select.append('<option value="">Şehir Seçiniz</option>');
                $.each(data, function (key, value) {
                    $select.append('<option value="' +value.code + '">' + value.name + '</option>');

                });
               
            });

        }
            function ShippingCityChange(elm)
           {
            //$get metodu jquery'nin ajax  metodudur,sayfa yenilenmeden veri getirmeyi sağlar
            //bu metod ile shop/GetCities actionunu çağırdık
            //parametre olarak countryId'yi verdik(seçili ülke değerini)
            //$.get metodundan sonuç döndüğünde gelen şehirler JSON formatında gelecektir.
            $.get('@Url.Action("GetCounties","Shop")', { cityCode: $(elm).val() }, function (data) {
                var $select = $("#Customer_ShippingCounty");
                $select.empty();
                $select.append('<option value="">İlçe Seçiniz</option>');
                $.each(data, function (key, value) {
                    $select.append('<option value="' +value.code + '">' + value.name + '</option>');

                });
               
            });

        }

    </script>
}